&flexcan3 {
	status = "okay";
	max-bitrate = <1000000>;
	max-bitrate-data = <2000000>;
	
};
&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";   
                label = "CDC_ACM_0";
        };
};